<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Analysis of Vehicles GPS Tracking Data</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/017d7eaeea.js" crossorigin="anonymous"></script>     <!-- fa icon-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script> <!--labels-->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script> <!--labels-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>    <!-- Plotly.js -->
    <script src="https://rawgit.com/chartjs/chartjs-plugin-annotation/master/chartjs-plugin-annotation.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_others.css') }}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

    <!-- Export & Print -->
    <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css" />

    <!-- Print.js -->
    <link rel="stylesheet" type="text/css" href="https://printjs-4de6.kxcdn.com/print.min.css">
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>

    <!-- Loading Animation -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

    <script>

        $(document).ready(function(){
            $(".se-pre-con").hide();
        });

        $(window).bind('beforeunload',function(){ 
            $(".se-pre-con").show();
        });

    </script>

</head>

<body>
    
    <div class="se-pre-con"></div>
    
    <!-- Side Nav -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/manager/home"><i class="fa fa-home" aria-hidden="true" title="Home"></i></a>
        <a href='/manager/overview'><i class="fa fa-users" aria-hidden="true" title="Customer Overview"></i></a>
        <a href='/manager/analytic'><i class="fa fa-line-chart" aria-hidden="true" title="Analytic Results"></i></a>
        <!-- <a href='/manager/report'><i class="fa fa-file" aria-hidden="true" title="Report"></i></a> -->
    </div>
    
    <div id="main">
        <!-- Header -->
        <div class="navbar-header">    
            <a class="button logout" onclick="openNav()"><i class="fa fa-navicon" style="color:white;"></i></a>
            <a><img src="/static/img/logo.png"></a>
            <b class="button logout" onclick="window.location.href='/'"><i class="fa fa-sign-out"></i></b>
        </div>
        
        <div class='main-content'>

            {% block content %} {% endblock %}

        </div>
    </div>


</body>
</html>